<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>
<body>
    <h>{{ pageHead }}</h>
    {% if hotPoll or warmPoll or normalPoll %}
        <ul>
            {% for hpoll in hotPoll %}
                <li><a href="{% url 'mypoll:votepage' hpoll.id %}" id="{{ hpoll.name }}"> [🔥 HOT] {{ hpoll.name }}</a></li>
            {% endfor %}
            {% for wpoll in warmPoll %}
                <li><a href="{% url 'mypoll:votepage' wpoll.id %}" id="{{ wpoll.name }}">[🔼 WARM] {{ wpoll.name }}</a></li>
            {% endfor %}
            {% for npoll in normalPoll %}
                <li><a href="{% url 'mypoll:votepage' npoll.id %}" id="{{ npoll.name }}">{{ npoll.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Poll Available</p>
    {% endif %}
</body>
</html>
