<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ poll.name }}</title>
</head>
<body>
    <h1>{{ poll.name }}</h1>
    <form method="POST" action="{% url 'mypoll:vote'%}">
        <input type = "hidden" name = "poll_id" id = "poll_id" value="{{poll_id}}">
        {% csrf_token %}
        {% for choice in choices %}
            <label>
                <input type="radio" name="choice" value="{{ choice.name }}" id = "{{ choice.name }}">
                {{ choice.name }}
            </label><br>
        {% endfor %}
        <button type="submit" id = "Submit Vote">Submit Vote</button>
    </form>
</body>
</html>
